fieldset
	div(id="messagesregion")
		legend
			h2 Spjallið
		div(id="messages", data-bind="foreach: messages")
			.alert.alert-info
				strong(data-bind="text: username")
				strong.time(data-bind="text: time")
				p(data-bind="text: text")		
	div(id="usersregion")
		div(style="margin-left:12px")
			legend 
				h2 Tengdir
			div(id="users", data-bind="foreach: users")
				.alert
					strong(data-bind="text: username")
	div(id="console")
		form(data-bind="submit: sendMessage")
			input(data-bind="value: newMessage.text, valueUpdate: 'afterkeydown'", placeholder="Skrifaðu skilaboð hér!")
			
script(type="text/javascript")
	function scrollToBottom(){
		var objMessages = document.getElementById("messages");
		objMessages.scrollTop = objMessages.scrollHeight;
	}
	
	var chatViewModel = new ChatViewModel("#{user}");
	ko.applyBindings(chatViewModel);
	chatViewModel.messages.subscribe(scrollToBottom);
	