#messagesregion
	legend Spjallið
	div(id="messages", data-bind="foreach: messages")
		.alert.alert-info
			strong(data-bind="text: username")
			strong.time(data-bind="text: time")
			p(data-bind="text: text")		
#usersregion
	legend Tengdir
	div(id="users", data-bind="foreach: users")
		.alert
			strong(data-bind="text: username")
#console
	form(data-bind="submit: sendMessage")
		input(data-bind="value: newMessage.text, valueUpdate: 'afterkeydown'", placeholder="Skrifaðu skilaboð hér!")
			
script(type="text/javascript")
	function scrollToBottom(){
		var objMessages = document.getElementById("messages");
		objMessages.scrollTop = objMessages.scrollHeight;
	}
	
	//register the logged in user
	var socket = io.connect();
	socket.emit('register', "#{user}");
	
	//Create a view model and start listening
	var chatViewModel = new ChatViewModel();
	ko.applyBindings(chatViewModel);
	chatViewModel.messages.subscribe(scrollToBottom);
	