fieldset
	legend Spjallið
	br
	form.form-inline(data-bind="submit: newMessage.sendMessage")
		input(data-bind="value: newMessage.username, valueUpdate: 'afterkeydown'", placeholder="Nafn")
		= " "
		input(data-bind="value: newMessage.text, valueUpdate: 'afterkeydown'", placeholder="Skilaboð")
		= " "
		button.btn.btn-primary(type="submit", data-bind="enable: newMessage.isValid") Senda skilaboð
	div(class="mini-layout fluid")
		div(class="mini-layout-sidebar", data-bind="foreach: users")
			.alert
				strong(data-bind="text: username")
		div(class="mini-layout-body", data-bind="foreach: messages")
			.alert.alert-info
				strong(data-bind="text: username")
				strong.time(data-bind="text: time")
				p(data-bind="text: text")				
script(type="text/javascript")
	ko.applyBindings(new ChatViewModel());
