!!!
html
	head
		title Spjallið
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src='/javascripts/knockout-latest.debug.js')
		script(src='/javascripts/chatViewModel.js')
		script(src='/socket.io/socket.io.js')
	body
		#main
			#header
				- if (session.user)
					#user= session.user
					#logout
						a(href='/logout') hætta
			#container!= body
