#main { 
	width: 960px;
	height: 650px;
	margin: 2em auto;
	border: 1px solid #ddd;
	padding: 2em;    
	position:absolute;
	bottom:0;
    top:0;
    left:0;
    right:0;
}
#container {
	height: 100%;
}
#header {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 0;
	margin: 10px;
}
#user {

}
#logout {
	float: right;
}
#console {
	position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
    padding: 6px;
    background-color: #E0FFFF; 	
    border-top:1px solid #48CCCD;
}
#console input{
	margin: 0px;
	width: 99%;
}
#console input::-webkit-input-placeholder {
    color: blue;
}
#console input:-moz-placeholder {
    color: blue;
}
#console form{
	margin: 0px;
	padding: 0px;
}
#messagesregion {
	height: 100%;
	float: left;
	width: 79%;
}
#usersregion {
	height: 100%;
	float: right;
	width: 20%;
}
#messages{
    height: 85%;
	overflow: auto;
	padding-right: 10px;
}
#users{
    height: 85%
	overflow: auto;
	padding-right: 10px;
}
.time{
    float: right;
}